<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand m-1" href="/">
    Angular Simple CRUD
  </a>
</nav>

<section class="container">
  <section class="row">
    <section class="col-md-8">
      <ul class="list-group">

      </ul>
      <article class="card mt-4">
        <article class="card-body">
          <article class="card-title">
            Inserta una nueva persona
          </article>
        </article>
      </article>
    </section>
    <section class="col-md-4">
      <img width="300" src="../assets/Angular.png" alt="Logo Angular">
    </section>
  </section>
</section>


<router-outlet></router-outlet>
